body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 15vh;
}

.character-card {
    background-color: #1e293b;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 12px;
    text-align: left;
    max-width: 750px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 10px;
}


.right-buttons {
    display: flex;
}

.card-body{
    display: none;
    margin-top: 10px;
}

.character-card.open .card-body {
    display: block;
}

.card-header{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #1e293b;
    padding: 10px 20px;
    border-radius: 12px 12px 0 0;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px auto 0 auto;
    max-width: 750px;
}

.card-header:hover {
     background-color: #334155;
}

.arrow {
    transition: transform 0.3s;
}

.character-card.open .arrow {
    transform: rotate(180deg);
}

.character-card.open .card-body {
    display: block;
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #6366f1;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4f46e5;
}

.button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}