<!DOCTYPE html>
<html>
<head>
    <title>Random Character</title>
</head>
<body>
    <h1>{{ character.name }}</h1>
    <p><strong>Class:</strong> {{ character.character_class }}</p>
    <p><strong>Race:</strong> {{ character.character_race }}</p>
    <p><strong>Strength:</strong> {{ character.strength }}</p>
    <p><strong>Dexterity:</strong> {{ character.dexterity }}</p>
    <p><strong>Constitution:</strong> {{ character.constitution }}</p>
    <p><strong>Intelligence:</strong> {{ character.intelligence }}</p>
    <p><strong>Wisdom:</strong> {{ character.wisdom }}</p>
    <p><strong>Charisma:</strong> {{ character.charisma }}</p>
</body>
</html>